
<div class="tab-content  grid-item">
    <div role="tabpanel" class="tab-pane text-center active" id="main">
        <p class="im"><img class="im" id="image" alt="Книги"></p>
        <p class="mainHeader lang" tr="mainHeader" > </p>
        <p class="text text-left lang" tr="mainText"> </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="about">
        <p class="coolT lang" tr="aboutText"> </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="books">
        <p class="bookT lang" tr="b"> </p>
        <div id="allBooks"></div>
    </div>
</div>